[Unit]
Description=qbittorrent-nox Daemon
After=network.target

[Service]
User=thesaneone
Type=simple
PrivateTmp=false
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080

[Install]
WantedBy=multi-user.target
