[user]
    name = Kumaresan Rajeswaran
    email = kumaresan.rajeswaran@gmail.com
[github.com]
    user = krajewaran
[color]
    ui = true
[credential]
    helper = cache --timeout 7200
[help]
    autocorrect = 1
[core]
    mergeoptions = --no-edit
    editor = nvim -f
[init]
    templatedir = ~/.git_template
[diff]
    tool = vimdiff
[difftool]
    prompt = false

[merge]
tool = vim_mergetool
conflictstyle = diff3

[mergetool "vim_mergetool"]
cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
trustExitCode = true
