[user]
    name = Kumaresan Rajeswaran
    email = kumaresan.rajeswaran@gmail.com
[github.com]
    user = krajewaran
[color]
	ui = true
[credential]
    helper = cache --timeout 7200
[help]
    autocorrect = 1
[core]
    mergeoptions = --no-edit
    editor = nvim -f

[init]
    templatedir = ~/.git_template
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    side-by-side = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[merge]
tool = vim_mergetool
conflictstyle = diff3

[mergetool "vim_mergetool"]
cmd = vi -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
trustExitCode = true
[safe]
	directory = /home/kumaresan/macsrc/tangapp
	directory = /home/kumaresan/macsrc/tangapp
[pull]
	rebase = false
