[user]
	email = kumaresan.rajeswaran@gmail.com
	name = Kumaresan Rajeswaran
[github.com]
    user = krajewaran
[stash.trusted.visa.com]
    name = Rajeswaran, Kumaresan
    email = krajeswa@visa.com
[color]
    ui = true
[credential]
    helper = cache --timeout 7200
[help]
    autocorrect = 1
[core]
    mergeoptions = --no-edit
	editor = vim -f
