**/bundle/**
**/__pycache__/**
**.pyo
**.pyc
.netw*
cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/search-history
qbittorrent/.config/qBittorrent/qBittorrent-data.conf
qbittorrent/.config/qBittorrent/qBittorrent-resume.conf
qbittorrent/.config/qBittorrent/ses_state
ssh/.ssh/authorized_keys
ssh/.ssh/known_hosts
ssh/.ssh/id_rsa*
vim/.vim/.netrwhist/
vim/.vim/plugged/
kodi/**/Database/**
kodi/**/Thumbnails/**
kodi/**/Savedstates/**
kodi/**/*.db
kodi/**/*.sqlite

