**/bundle/**
**/plugged/**
**/__pycache__/**
**.pyo
**.pyc
**/.netrwhist
mpv/**/watch_later/**
localapps/**/chrome*
localapps/**/mimeapps*
albert/.config/albert/core.db
albert/.config/albert/last_used_version
albert/.config/albert/Qt*
ssh/.ssh/id_rsa*
ssh/.ssh/known*
ssh/.ssh/*eb*
tmux/.tmux/resurrect/tmux_resurrect_*
mpsyt/**cache**
vim/.vim/thesaurus
zsh/.zfunctions/_gh
