
! ~/.Xresources
!

! Xft settings ---------------------------------------------------------------
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! URxvt Options
URxvt.depth: 32
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off
URxvt.urgentOnBell: True
URxvt.visualBell: True
URxvt.cursorColor: #00FF00
URxvt.cursorBlink: 1
! bold, italic, underline
URxvt.colorBD: #B5BD68
URxvt.colorIT: #B294BB
URxvt.colorUL: #81A2BE
! font
URxvt.font: xft:Fira\ Code\ Medium:size=11, xft:Monospace:size=11 
URxvt.letterSpace: -1.5
! extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/google-chrome-stable
URxvt.url-select.underline: true

! do not scroll with output
URxvt*scrollTtyOutput: false
URxvt*saveLines: 100000

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! special
*.foreground:   #00bb00
*.background:   #000000
*.cursorColor:  #00bb00

! black
*.color0:       #000000
*.color8:       #555555

! red
*.color1:       #830004
*.color9:       #ff5555

! green
*.color2:       #00bb00
*.color10:      #55ff55

! yellow
*.color3:       #bbbb00
*.color11:      #fed955

! blue
*.color4:       #0072be
*.color12:      #094fc2

! magenta
*.color5:       #7e2649
*.color13:      #974f95

! cyan
*.color6:       #00bbbb
*.color14:      #83c1bf

! white
*.color7:       #878787
*.color15:      #a3a3a3

! yeahconsole

term:                  urxvtc
restart:               0
xOffset:               0
screenWidth:           Display width
consoleHeight:         20
aniDelay:              40
stepSize:              1
toggleKey:             ControlAlt+y
keySmaller:            Control+KP_Subtract
keyBigger:             Control+KP_Add
keyFull:               Alt+F11


