[Desktop Entry]
Categories=Application;Development;
Comment[en_US]=API
Comment=API
Exec=kitty --class libreoffice-math --title API --config /home/kumaresan/.config/kitty/api.conf --start-as=maximized -d /home/kumaresan/src/tange-server
GenericName[en_US]=API
GenericName=API
Icon=libreoffice-math
MimeType=
Name[en_US]=API
Name=API
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=kitty
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
