[Desktop Entry]
Categories=Application;Development;
Comment[en_US]=APP
Comment=APP
Exec=kitty --class libreoffice-impress --title APP --config /home/kumaresan/.config/kitty/app.conf -d /home/kumaresan/src/tang-mobile-app
GenericName[en_US]=APP
GenericName=APP
Icon=libreoffice-impress
MimeType=
Name[en_US]=APP
Name=APP
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=kitty
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
