[Desktop Entry]
Name=Bitwarden (AppImage)
Exec=/opt/bitwarden/Bitwarden-2024.10.1-x86_64.AppImage %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
MimeType=x-scheme-handler/bitwarden;
Categories=Utility;
X-AppImage-Integrate=
X-Zap-Id=bitwarden
TryExec=/opt/bitwarden/Bitwarden-2024.10.1-x86_64.AppImage
