[Desktop Entry]
Name=Bitwarden (AppImage)
Exec=/home/kumaresan/.local/bin/bitwarden %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
X-AppImage-Version=2024.1.0
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
MimeType=x-scheme-handler/bitwarden;
Categories=Utility;
X-AppImage-Integrate=
X-Zap-Id=bitwarden
TryExec=/home/kumaresan/.local/bin/bitwarden
