[Desktop Entry]
Type=Application
Version=1.4
Name=HoloPlay
Comment=Funny web app with a focus on privacy by using Invidious API
Keywords=;
Categories=GTK;WebApps;Audio;AudioVideo;
Icon=FFPWA-01J5XCVSXPDVTZ5SB7QK558EVS
Exec=/usr/bin/firefoxpwa site launch 01J5XCVSXPDVTZ5SB7QK558EVS --protocol %u
Actions=0;1;2;
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01J5XCVSXPDVTZ5SB7QK558EVS

[Desktop Action 0]
Name=Search
Icon=FFPWA-01J5XCVSXPDVTZ5SB7QK558EVS-0
Exec=/usr/bin/firefoxpwa site launch 01J5XCVSXPDVTZ5SB7QK558EVS --url "https://app.holoplay.io/search"

[Desktop Action 1]
Name=Favorite
Icon=FFPWA-01J5XCVSXPDVTZ5SB7QK558EVS-1
Exec=/usr/bin/firefoxpwa site launch 01J5XCVSXPDVTZ5SB7QK558EVS --url "https://app.holoplay.io/favorite"

[Desktop Action 2]
Name=Playlists
Icon=FFPWA-01J5XCVSXPDVTZ5SB7QK558EVS-2
Exec=/usr/bin/firefoxpwa site launch 01J5XCVSXPDVTZ5SB7QK558EVS --url "https://app.holoplay.io/playlists"
