[Desktop Entry]
Name=WebStorm 2023.2.2
Exec="/home/kumaresan/.local/share/JetBrains/Toolbox/apps/webstorm/bin/webstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/kumaresan/.local/share/JetBrains/Toolbox/apps/webstorm/bin/webstorm.svg
Comment=A JavaScript IDE
StartupWMClass=jetbrains-webstorm
StartupNotify=true
