[Desktop Entry]
Name=WebStorm 2023.1.1
Icon=/home/kumaresan/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/.icon.svg
StartupWMClass=jetbrains-webstorm
Comment=A JavaScript IDE
Exec="/home/kumaresan/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/231.8770.64/bin/webstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true