[Desktop Entry]
Exec=playerctl play-pause
Name=playerctl play-pause
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
