[Unit]
Description=qbittorrent-nox Daemon
After=network.target

[Service]
Type=simple
User=pi
Group=pi
PrivateTmp=false
ExecStart=/bin/qbittorrent-nox --webui-port=8001

[Install]
WantedBy=multi-user.target
