[G0]
timername=pom
time=1500
timercommand=
timerinfo=25m 0s
is_countdown=true

[G1]
timername=5 min
time=300
timercommand=
timerinfo=5m 0s
is_countdown=true

[others]
nowin_if_alarm=true
selecting_starts=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

