[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=kwin
Comment=kwin
Exec=kwin --replace --no-kactivities
StartupNotify=false
Terminal=false
Hidden=true

