[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Android Edition
Exec="/home/thesaneone/src/android-studio/bin/studio.sh" %f
Icon=/home/thesaneone/src/android-studio/bin/idea.png
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
