[Desktop Entry]
Encoding=UTF-8
Name=Switch user
Comment=Switch to the other user
Icon=gnome-session-switch
Exec=lxdm -c USER_SWITCH
Terminal=false
Type=Application
